@charset "UTF-8";
		h1{
			
			font-family: Arial;
			color: white;
			font-size: 40pt;
			text-shadow: 4px 4px 3px black;
			text-indent: 48px;
		}
		
		h2 {
			font-family: Arial;
			color: white;
			font-size: 13pt;
			text-indent: 48px;
		}
		
		
		p{
			text-align: justify;
			text-indent: 50px;
		}
		
		a{
			color: #ffa3fd;
		}
		body{
			
			background-image: url("_imagens/fundo-lirius.jpg");
			color: white;
		}
		
		
		figure.foto-legenda{
			position: relative;
		
		}
		
		figure.foto-legenda figcaption{
			
			position: absolute;
			top:50px;
			left:5px;
			color: white;
			width: 100%;
			height: 100%;
			font-size: 10px;
			text-shadow: 0px 0px 3px black;
			
		}
		
		figure.foto-item{
			position: relative;
			
		
		}
		
		figure.foto-item img{
			box-shadow: 0px 0px 30px black;
			border-style: solid;
			border-width: 5px 5px 5px 5px;
			border-color: #fa94ec;
			left: 20px;
		}
		
		figure.foto-item figcaption{
			color: white;
			text-shadow: 0px 0px 15px black;
			position: absolute;
			top: 170px;
			left: 50px;
		}
		
		
		
		