
h1{

			font-family: Arial;
			color: white;
			font-size: 40pt;
			text-shadow: 4px 4px 3px black;}

body {
	
	background-image: url("imagens/gradiente3.jpg");
	background-repeat: no-repeat;  
	background-size: cover; 
	margin: 25px 50px 75px 100px
}

p{

			font-family: Arial;
			color: white;
			font-size: 15pt;
			text-shadow: 4px 4px 3px black;

}
